USE [ELearning]
GO
/****** Object:  Table [dbo].[AccountLockRequests]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountLockRequests](
	[RequestId] [bigint] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[Reason] [nvarchar](1000) NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LockReq_UniquePending] UNIQUE NONCLUSTERED 
(
	[TeacherId] ASC,
	[StudentId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapter]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapter](
	[ChapterId] [int] IDENTITY(1,1) NOT NULL,
	[NameChapter] [nvarchar](200) NOT NULL,
	[CourseId] [int] NOT NULL,
	[OrderChapter] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChapterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseCategories]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseCategories](
	[CourseCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[SortOrder] [int] NULL,
	[ParentId] [int] NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseLessons]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseLessons](
	[CourseLessonId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[VideoPath] [nvarchar](250) NULL,
	[SlidePath] [nvarchar](250) NULL,
	[TypeDocument] [varchar](50) NULL,
	[SortOrder] [int] NULL,
	[ChapterId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseLessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Image] [nvarchar](250) NULL,
	[Content] [nvarchar](max) NULL,
	[Price] [bigint] NULL,
	[PromotionPrice] [bigint] NULL,
	[DateCreated] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[CategoriesId] [int] NULL,
	[UsersId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[DiscountId] [int] IDENTITY(1,1) NOT NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[CodeDiscount] [varchar](50) NOT NULL,
	[DiscountPercent] [int] NULL,
	[DiscountAmount] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Discount_Code] UNIQUE NONCLUSTERED 
(
	[CodeDiscount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountCourse]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountCourse](
	[DiscountId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_DiscountCourse] PRIMARY KEY CLUSTERED 
(
	[DiscountId] ASC,
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningProgress]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningProgress](
	[ProgressId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[LessonId] [int] NOT NULL,
	[ProgressPercent] [int] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LearningProgress_User_Lesson] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LessonsComments]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonsComments](
	[CommentId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[LessonId] [int] NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterList]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterList](
	[MasterListId] [int] IDENTITY(1,1) NOT NULL,
	[MasterListCode] [varchar](50) NOT NULL,
	[MasterListGroupCde] [varchar](50) NOT NULL,
	[MasterListDefaultValue] [nvarchar](2000) NULL,
	[Description] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MasterListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MasterList_Code_Group] UNIQUE NONCLUSTERED 
(
	[MasterListCode] ASC,
	[MasterListGroupCde] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[CourseId] [int] NOT NULL,
	[DiscountId] [int] NULL,
	[Amount] [bigint] NULL,
	[TotalAmount] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderCode] [varchar](50) NULL,
	[UsersId] [int] NOT NULL,
	[PayMethod] [varchar](50) NULL,
	[OrderDate] [datetime] NOT NULL,
	[Status] [varchar](50) NULL,
	[TotalAmount] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Sex] [bit] NULL,
	[Birthday] [datetime] NULL,
	[Email] [varchar](300) NOT NULL,
	[Password] [varchar](300) NOT NULL,
	[Token] [varchar](2000) NULL,
	[ImageUrl] [varchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountLockRequests] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[AccountLockRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AccountLockRequests] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[CourseCategories] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[LearningProgress] ADD  DEFAULT ((0)) FOR [ProgressPercent]
GO
ALTER TABLE [dbo].[LearningProgress] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[LearningProgress] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[LessonsComments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[AccountLockRequests]  WITH CHECK ADD  CONSTRAINT [FK_LockReq_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AccountLockRequests] CHECK CONSTRAINT [FK_LockReq_Student]
GO
ALTER TABLE [dbo].[AccountLockRequests]  WITH CHECK ADD  CONSTRAINT [FK_LockReq_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AccountLockRequests] CHECK CONSTRAINT [FK_LockReq_Teacher]
GO
ALTER TABLE [dbo].[Chapter]  WITH CHECK ADD  CONSTRAINT [FK_Chapter_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Chapter] CHECK CONSTRAINT [FK_Chapter_Course]
GO
ALTER TABLE [dbo].[CourseCategories]  WITH CHECK ADD  CONSTRAINT [FK_CourseCategories_Parent] FOREIGN KEY([ParentId])
REFERENCES [dbo].[CourseCategories] ([CourseCategoryId])
GO
ALTER TABLE [dbo].[CourseCategories] CHECK CONSTRAINT [FK_CourseCategories_Parent]
GO
ALTER TABLE [dbo].[CourseLessons]  WITH CHECK ADD  CONSTRAINT [FK_CourseLessons_Chapter] FOREIGN KEY([ChapterId])
REFERENCES [dbo].[Chapter] ([ChapterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseLessons] CHECK CONSTRAINT [FK_CourseLessons_Chapter]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Category] FOREIGN KEY([CategoriesId])
REFERENCES [dbo].[CourseCategories] ([CourseCategoryId])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Category]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_User] FOREIGN KEY([UsersId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_User]
GO
ALTER TABLE [dbo].[DiscountCourse]  WITH CHECK ADD  CONSTRAINT [FK_DiscountCourse_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiscountCourse] CHECK CONSTRAINT [FK_DiscountCourse_Course]
GO
ALTER TABLE [dbo].[DiscountCourse]  WITH CHECK ADD  CONSTRAINT [FK_DiscountCourse_Discount] FOREIGN KEY([DiscountId])
REFERENCES [dbo].[Discount] ([DiscountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiscountCourse] CHECK CONSTRAINT [FK_DiscountCourse_Discount]
GO
ALTER TABLE [dbo].[LearningProgress]  WITH CHECK ADD  CONSTRAINT [FK_LP_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[LearningProgress] CHECK CONSTRAINT [FK_LP_Course]
GO
ALTER TABLE [dbo].[LearningProgress]  WITH CHECK ADD  CONSTRAINT [FK_LP_Lesson] FOREIGN KEY([LessonId])
REFERENCES [dbo].[CourseLessons] ([CourseLessonId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LearningProgress] CHECK CONSTRAINT [FK_LP_Lesson]
GO
ALTER TABLE [dbo].[LearningProgress]  WITH CHECK ADD  CONSTRAINT [FK_LP_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LearningProgress] CHECK CONSTRAINT [FK_LP_User]
GO
ALTER TABLE [dbo].[LessonsComments]  WITH CHECK ADD  CONSTRAINT [FK_LessonsComments_Lesson] FOREIGN KEY([LessonId])
REFERENCES [dbo].[CourseLessons] ([CourseLessonId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LessonsComments] CHECK CONSTRAINT [FK_LessonsComments_Lesson]
GO
ALTER TABLE [dbo].[LessonsComments]  WITH CHECK ADD  CONSTRAINT [FK_LessonsComments_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LessonsComments] CHECK CONSTRAINT [FK_LessonsComments_User]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Course]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Discount] FOREIGN KEY([DiscountId])
REFERENCES [dbo].[Discount] ([DiscountId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Discount]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_User] FOREIGN KEY([UsersId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_User]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
/****** Object:  StoredProcedure [dbo].[sp_courses_list]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_courses_list]
  @kw NVARCHAR(100)=NULL
AS
BEGIN
  SET NOCOUNT ON;
  SELECT c.CourseId, c.Name, c.Image,
         CAST(COALESCE(c.PromotionPrice,c.Price) AS BIGINT) AS Price
  FROM dbo.Courses c
  WHERE @kw IS NULL OR c.Name LIKE N'%'+@kw+N'%' OR c.Description LIKE N'%'+@kw+N'%'
  ORDER BY c.DateCreated DESC, c.CourseId DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_dashboard_revenue_trend]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_dashboard_revenue_trend]
  @TeacherId INT = NULL,
  @CourseId INT = NULL,
  @Year INT = NULL
AS
BEGIN
  SET NOCOUNT ON;

  SELECT 
      MONTH(o.OrderDate) AS Month,
      SUM(od.TotalAmount) AS Revenue
  FROM dbo.Orders o
  JOIN dbo.OrderDetails od ON o.OrderId = od.OrderId
  JOIN dbo.Courses c ON c.CourseId = od.CourseId
  WHERE o.Status = 'SUCCESS'
    AND (@TeacherId IS NULL OR c.UsersId = @TeacherId)
    AND (@CourseId IS NULL OR c.CourseId = @CourseId)
    AND (@Year IS NULL OR YEAR(o.OrderDate) = @Year)
  GROUP BY MONTH(o.OrderDate)
  ORDER BY Month;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_dashboard_summary]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[sp_dashboard_summary]
  @TeacherId INT = NULL,
  @CourseId INT = NULL,
  @Year INT = NULL,
  @Month INT = NULL,
  @Quarter INT = NULL
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @StartDate DATETIME, @EndDate DATETIME;

  IF @Year IS NOT NULL AND @Month IS NOT NULL
      SELECT @StartDate = DATEFROMPARTS(@Year, @Month, 1),
             @EndDate = DATEADD(MONTH, 1, @StartDate);
  ELSE IF @Year IS NOT NULL AND @Quarter IS NOT NULL
      SELECT @StartDate = DATEFROMPARTS(@Year, ((@Quarter-1)*3)+1, 1),
             @EndDate = DATEADD(MONTH, 3, @StartDate);
  ELSE IF @Year IS NOT NULL
      SELECT @StartDate = DATEFROMPARTS(@Year, 1, 1),
             @EndDate = DATEADD(YEAR, 1, @StartDate);

  SELECT 
      SUM(od.TotalAmount) AS TotalRevenue,
      COUNT(DISTINCT o.OrderId) AS TotalOrders
  FROM dbo.Orders o
  JOIN dbo.OrderDetails od ON o.OrderId = od.OrderId
  JOIN dbo.Courses c ON c.CourseId = od.CourseId
  WHERE o.Status = 'SUCCESS'
    AND (@TeacherId IS NULL OR c.UsersId = @TeacherId)
    AND (@CourseId IS NULL OR c.CourseId = @CourseId)
    AND (@StartDate IS NULL OR (o.OrderDate >= @StartDate AND o.OrderDate < @EndDate));
END
GO
/****** Object:  StoredProcedure [dbo].[sp_dashboard_top_courses]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_dashboard_top_courses]
  @TeacherId INT = NULL,
  @Year INT = NULL
AS
BEGIN
  SET NOCOUNT ON;

  SELECT TOP 5
      c.CourseId,
      c.Name AS CourseName,
      SUM(od.TotalAmount) AS TotalRevenue,
      COUNT(DISTINCT o.OrderId) AS OrdersCount
  FROM dbo.Orders o
  JOIN dbo.OrderDetails od ON o.OrderId = od.OrderId
  JOIN dbo.Courses c ON c.CourseId = od.CourseId
  WHERE o.Status = 'SUCCESS'
    AND (@TeacherId IS NULL OR c.UsersId = @TeacherId)
    AND (@Year IS NULL OR YEAR(o.OrderDate) = @Year)
  GROUP BY c.CourseId, c.Name
  ORDER BY TotalRevenue DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_lessons_by_course]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_lessons_by_course]
  @CourseId INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT l.*
  FROM dbo.CourseLessons l
  JOIN dbo.Chapter ch ON ch.ChapterId=l.ChapterId
  WHERE ch.CourseId=@CourseId
  ORDER BY ISNULL(ch.OrderChapter,999999), ISNULL(l.SortOrder,999999), l.CourseLessonId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_lock_request_create]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_lock_request_create]
  @TeacherId INT,
  @StudentId INT,
  @Reason NVARCHAR(1000)
AS
BEGIN
  SET NOCOUNT ON;

  IF EXISTS (
      SELECT 1 FROM AccountLockRequests
      WHERE TeacherId=@TeacherId AND StudentId=@StudentId AND Status='PENDING'
  )
  BEGIN
    SELECT 0 AS Success, N'Yêu cầu đang chờ xử lý' AS Message;
    RETURN;
  END

  INSERT INTO AccountLockRequests(TeacherId, StudentId, Reason, Status, CreatedAt, UpdatedAt)
  VALUES(@TeacherId, @StudentId, @Reason, 'PENDING', GETDATE(), GETDATE());

  SELECT 1 AS Success, SCOPE_IDENTITY() AS RequestId, N'Tạo yêu cầu thành công' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_lock_request_pending_list]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_lock_request_pending_list]
AS
BEGIN
  SET NOCOUNT ON;

  SELECT r.RequestId,
         r.TeacherId, t.FullName AS TeacherName, t.Email AS TeacherEmail,
         r.StudentId, s.FullName AS StudentName, s.Email AS StudentEmail,
         r.Reason, r.Status, r.CreatedAt
  FROM AccountLockRequests r
  JOIN Users t ON t.UserId = r.TeacherId
  JOIN Users s ON s.UserId = r.StudentId
  WHERE r.Status = 'PENDING'
  ORDER BY r.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_lock_request_update_status]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_lock_request_update_status]
  @RequestId BIGINT,
  @Status VARCHAR(20)  -- APPROVED hoặc REJECTED
AS
BEGIN
  SET NOCOUNT ON;

  UPDATE AccountLockRequests
  SET Status=@Status, UpdatedAt=GETDATE()
  WHERE RequestId=@RequestId;

  SELECT 1 AS Success, @RequestId AS RequestId, @Status AS Status;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_orders_my]    Script Date: 11/9/2025 11:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_orders_my]
  @UserId INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT * FROM dbo.Orders WHERE UsersId=@UserId ORDER BY OrderDate DESC, OrderId DESC;
END
GO
